In [1]:
from harvardartmuseums_pkg import harvardartmuseums_pkg

# harvardartmuseums_pkg

This notebook is for a vignette for harvardartmuseums_pkg python package functions usage. 

harvardartmuseums_pkg is to get datasets from the Harvard Art Museums API. In order to use this package and get datasets, you first need to create your api key at their official website: https://harvardartmuseums.org/collections/api


There are 3 different functions that will let you create 3 types of datasets of items in the Harvard Art Museums collections.

1. get_title_classification(url): Get a dataset of all titles with a word you choose and its classification

2. get_artist(url): Get a dataset of all female or male artists who are from a country(culture) you choose

3. get_exhibitions(url): Get a dataset of all exhibitions that were held in the selected period


Each function requires a URL or a HTTPResponse. 
The following functions will make the URLs/HTTPResponse for you with the parameters you choose!

1. get_url_for_title(text, apikey): Get a url for get_title_classification()

    - text: str
        A string of a word that you wish to find in the titles of artwork
    - apikey: str
        A string of your apikey, given by Harvard Art Museums
      
      
2. get_url_for_artist(country, gender, apikey): Get a url for get_artist()

    - country: str
        A string of a culture name that you wish to find in artists
    - gender: str
        A string of gender (female/male) that you wish to find in artists
    - apikey: str
        A string of your apikey, given by Harvard Art Museums
    
        
3. get_url_for_exhibition(after, before, apikey): Get a url for get_exhibitions()

    - after: str
        A string of a starting year of a period when exhibitions were held
    - before: str
        A string of an ending year of a period when exhibitions were held
    - apikey: str
        A string of your apikey, given by Harvard Art Museums

# Examples

In [4]:
text = "cat"
apikey = "yourapikey"

url = harvardartmuseums_pkg.get_url_for_title(text, apikey)

In [5]:
cat = harvardartmuseums_pkg.get_title_classification(url)
cat.head()

                                               title classification
0  Untitled (girl posing with cat on lawn in fron...    Photographs
1            Untitled (man with cats in boxing ring)    Photographs
2  Untitled (two cats wearing hooded capes and gl...    Photographs
3  Untitled (two cats wearing hooded capes and bo...    Photographs
4     Untitled (woman holding large cat in her arms)    Photographs

In [8]:
country='Dutch'
gender='male'
apikey = "yourapikey"

url2 = harvardartmuseums_pkg.get_url_for_artist(country, gender, apikey)

In [9]:
dutch_male = harvardartmuseums_pkg.get_artist(url2)

dutch_male.head()

,gender,displayname,url,objectcount,birthplace,datebegin,dateend,culture,personid,deathplace
0,male,Gérald Van Der Kaap,https://www.harvardartmuseums.org/collections/...,1,"Enschede, Netherlands",1959,0,Dutch,18135,None
1,male,Gerrit Thomas Rietveld,https://www.harvardartmuseums.org/collections/...,2,Utrecht,1888,1964,Dutch,22359,Utrecht
2,male,Dirck Barendsz.,https://www.harvardartmuseums.org/collections/...,7,"Amsterdam, Netherlands",1534,1592,Dutch,24631,"Amsterdam, Netherlands"
3,male,Jan Lievens,https://www.harvardartmuseums.org/collections/...,46,"Leiden, Netherlands",1607,1674,Dutch,27195,"Amsterdam, Netherlands"
4,male,Nicolaes Maes,https://www.harvardartmuseums.org/collections/...,44,Dordrecht,1634,1693,Dutch,27324,Amsterdam

In [10]:
after = '1975'
before = '2005'
apikey = "yourapikey"

url3 = harvardartmuseums_pkg.get_url_for_exhibition(after, before, apikey)

In [11]:
exhibition = harvardartmuseums_pkg.get_exhibitions(url3)
exhibition.head()

,begindate,enddate,title,url,exhibitionid
0,1975-02,1975-02,Informel 1,https://www.harvardartmuseums.org/visit/exhibi...,4998
1,1975-04-17,1975-09-22,Benjamin Franklin: A Perspective,https://www.harvardartmuseums.org/visit/exhibi...,166
2,1975-10-07,1975-11-18,"Painting, Drawing and Sculpture of the '60s an...",https://www.harvardartmuseums.org/visit/exhibi...,3755
3,1976-03-01,1976-04-30,"Russian Suprematist and Constructivist Art, 19...",https://www.harvardartmuseums.org/visit/exhibi...,4165
4,1977-05-12,1977-06-20,Concentrator's Choice,https://www.harvardartmuseums.org/visit/exhibi...,227